# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General ===

LOG_FILE_CONFIG=
LOG_LEVEL=
LOG_FORMAT=

# === Discord bot ===

DISCORD_TOKEN=
COGS_PATH=
BOT_LANGUAGE=
BOT_INVITE_LINK=
BOT_VOTE_LINK=
BOT_SERVER_LINK=
BOT_GITHUB_LINK=
BOT_PREFIX=
TEST_GUILDS_ID=


# === TMDB settings ===

TMDB_KEY=
TMDB_LANGUAGE=
TMDB_REGION=
TMDB_DEBUG=


# === Bugsnag settings ===

BUGSNAG_KEY=
BUGSNAG_LEVEL=
