# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `.env.template`!
# Template files must be committed to the VCS, but must not contain
# any secret values.


# === General settings ===

DEBUG=

# === Bot settings ===

DISCORD_TOKEN=
COGS_PATH=
BOT_LANGUAGE=
BOT_REGION=
BOT_INVITE_URL=
BOT_VOTE_URL=
BOT_SERVER_URL=
BOT_GITHUB_URL=
BOT_PREFIX=
TEST_GUILDS_ID=

# === Database settings ===

DB_PROVIDER=
DB_FILENAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=


# === Logging settings ===

LOG_FILE_CONFIG=
LOG_LEVEL=
LOG_FORMAT=


# === TMDB settings ===

TMDB_KEY=
TMDB_DEBUG=


# === Bugsnag settings ===

BUGSNAG_KEY=
BUGSNAG_LEVEL=


# === Dashbot settings ===

DASHBOT_KEY=


# === TraktTV settings ===

TRAKT_TV_CLIENT_ID=
TRAKT_TV_CLIENT_SECRET=
